<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Bitbucket to Redmine issues importer</title>
    <meta name="description" content="" />
    <meta name="author" content="bobeal" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <form action="/mapping" method="POST">
        <fieldset>
            <legend>Map your bitbucket users to Redmine ones</legend>
            <div th:each="bitbucketUser : ${bitbucketUsers}">
                <label th:for="${bitbucketUser}" th:text="${bitbucketUser}">Bitbucket User</label>
                <select th:name="'user-'+${bitbucketUser}">
                    <option th:each="redmineUser : ${redmineUsers}" th:value="${redmineUser.key}" th:text="${redmineUser.value}"
                        th:selected="${redmineUser.value == bitbucketUser}">
                        Redmine User
                    </option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Map your bitbucket issues status to Redmine ones</legend>
            <div th:each="bitbucketIssueStatus : ${bitbucketIssuesStatuses}">
                <label th:for="${bitbucketIssueStatus}" th:text="${bitbucketIssueStatus}">Bitbucket User</label>
                <select th:name="'status-'+${bitbucketIssueStatus}">
                    <option th:each="redmineIssueStatus : ${redmineIssuesStatuses}" th:value="${redmineIssueStatus.key}" 
                        th:text="${redmineIssueStatus.value}" th:selected="${redmineIssueStatus.value == bitbucketIssueStatus}">
                        Redmine Issue Status
                    </option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Map your bitbucket issues kind to Redmine ones</legend>
        
        </fieldset>
        <fieldset>
            <legend>Map your bitbucket issues priority to Redmine ones</legend>
        
        </fieldset>
        <input type="submit" value="Next" />
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
</body>
</html>
